---
layout: default
---

<div class="about">
  <header class="about-header">
    <img class="about-avatar" src="{{ '/assets/images/logo.png' | relative_url }}" alt="Fragmented_Chaos 头像" />
    <h1 class="about-name">Fragmented_Chaos</h1>
  </header>

  <div class="about-body">
    {{ content }}
  </div>

  <section class="about-social">
    <h2>关注我</h2>
    <ul class="about-links">
      <li><a href="https://center.mcmod.cn/626584/" target="_blank" rel="noopener">mc百科</a></li>
      <li><a href="https://github.com/Fragmented-Chaos" target="_blank" rel="noopener">GitHub</a></li>
      <li><a href="https://www.curseforge.com/members/fragmented_chaos/projects" target="_blank" rel="noopener">CurseForge</a></li>
      <li><a href="https://modrinth.com/user/Fragmented_Chaos" target="_blank" rel="noopener">Modrinth</a></li>
      <li><a href="https://space.bilibili.com/3546896511536057" target="_blank" rel="noopener">B站</a></li>
    </ul>
  </section>
</div>
